<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!--<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>-->
    <title>Administration</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <a class="navbar-brand text-warning" th:href="@{/}" href="home.html">Dr.House</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link text-success" th:href="@{/}" href="home.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-success" th:href="@{/invoices}" href="invices.html">Invoice</a>
            </li>
        </ul>
    </div>
</nav>
<div style="background-image:url(../images/h.jpg); position: relative ; padding:150px;  background-repeat:no-repeat; background-position: center;">
<!--<img src="../a.jpg">-->
<div align="center" style="top: 50%;left: 50%;">
    <h1 class="text-success bg-dark">Patient info</h1>
    <br/>
    <form th:action="@{/addPatient}" th:object="${patient}"  method="post">
        <input style="width:200px;" th:field="*{name}" placeholder="patient name" name="name" class="form-control form-group col-md-6"/>
        <input style="width:200px;" th:field="*{symptom}" placeholder="patient symptoms" name="symptom" class="form-control form-group col-md-6"/>
        <button type="submit" class="btn btn-info">add</button>
    </form>
    <br/>
    <button type="rest" class="btn btn-info" onClick="clearform();">reset</button>

    <br/>

</div>


    <script>
    function clearform()
    {
        document.getElementById("name").value="";
        document.getElementById("symptom").value="";
    }
    </script>
    <br/>
</div>
</body>
</html>