<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <title>Invoice</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand text-warning" th:href="@{/}" href="home.html">Dr.House</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link text-success" th:href="@{/}" href="home.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-success" th:href="@{/invoices}" href="invices.html">Invoice</a>
            </li>
        </ul>
    </div>
</nav>
<div style="background-image:url(../images/h.jpg); position: relative ; padding:150px;  background-repeat:no-repeat; background-position: center;">

<div align="center" style="top: 50%;left: 50%;">
<h1 class="text-success">Invoice info</h1>
<hr/>
<form th:action="@{/invoices}" th:object="${invoice}"  method="get" class="form-control form-group col-md-6">
    <h3>Patient Name: </h3> <td th:text="${invoice.patientName}"></td><hr/><hr/><hr/>
    <h3>Patient Treatment: </h3> <td th:text="${invoice.patientTreatment}"></td><hr/><hr/><hr/>
    <h3>Time: </h3> <td th:text="${invoice.localDateTime}"></td><hr/><hr/><hr/>
    <h3>Cost: </h3> <td th:text="${invoice.cost}"></td>$<hr/><hr/><hr/>
</form>
    <form th:action="@{/logout}" method="post">
        <input class="btn btn-info" type="submit" value="Sign Out"/>
    </form>
</div>
</div>
</body>
</html>