<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <title>Invoice</title>
</head>
<body>
<div align="center" style="top: 50%;left: 50%;">
<h1>Invoice info</h1>
<hr/>
<br/><br/>
<form th:action="@{/invoices}" th:object="${invoice}"  method="get" class="form-control form-group col-md-6">
    <h3>Patient Name: </h3> <td th:text="${invoice.patientName}"></td><hr/><hr/><hr/>
    <h3>Patient Treatment: </h3> <td th:text="${invoice.patientTreatment}"></td><hr/><hr/><hr/>
    <h3>Time: </h3> <td th:text="${invoice.localDateTime}"></td><hr/><hr/><hr/>
    <h3>Cost: </h3> <td th:text="${invoice.cost}"></td>$<hr/><hr/><hr/>
</form>
</div>

</body>
</html>